<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button (click)="startApp()" primary>Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p class="green-text" [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="img/tut-end.png" class="slide-image"/>
      <h2 class="slide-title green-text">Bạn đã sẵn sàng?</h2>
      <button class="green-text" large clear (click)="startApp()">
        Bắt đầu Ngay
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
